.top {
    height: 40px;
    background-color: #F4F4F4;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    @media(min-width: 768px) {
        height: 56px;
    }
    @media(min-width: 992px) {
        height: 80px;
    }
}

.content {

    height: auto;
    background-color: #F4F4F4;
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-height: 752px;

}


.bottom {

    background-color: #F4F4F4;
    height: 40px;
    clip-path: polygon(0 100%, 0 0, 100% 0);
    @media(min-width: 768px) {
        height: 56px;
    }
    @media(min-width: 992px) {
        height: 80px;
    }
}