@import url("../../node_modules/antd/dist/reset.css");

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: "Futuris";
  src: url('../fonts/Futuris/futuris.woff2');
  font-weight: normal;
  font-style: normal;
}

