@import url("../../node_modules/antd/dist/reset.css");

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: "Futuris";
  src: url('../fonts/Futuris/futuris.woff2');
  font-weight: normal;
  font-style: normal;
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
