@import './queries.scss';

@mixin link {
  color: black;
}

@mixin image {
  position: relative;
}

// COLORS
$lightBlue: #96D2EB;
$blue: #2D91CD;
$magenta: #BE288C;
$yellow: #FAD232;
$green: #D2DC32;

$black: #000;
$white: #fff;

@mixin header {
  p {
    font-size: 28px;
    line-height: 31px;
    font-weight: 100;

    @media (min-width: $lg) {
      font-size: 47px;
      line-height: 46px;
    }
  }
}

@mixin subheader {
  p {
    font-weight: 400;
    @media (min-width: $xs) {
      font-size: 24px;
      line-height: 31px;
    }
    @media (min-width: $sm) {
      font-size: 25px;
      line-height: 32px;
    }
    @media (min-width: $xl) {
      font-size: 32px;
      line-height: 41px;
    }
  }
}

@mixin paragraph {
  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
  }
}

@mixin footer-angle {
  background-color: #DADADA;
  width: 100%;
  height: 40px;
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);

  @media (min-width: $lg) {
    height: 0px;
    opacity: 0;
  }
}