@import '../../styles/mixins.scss';
@import '../../styles/queries.scss';

$short-angle: 30vw;
$long-angle: 70vw;

.component {
  padding: 60px 0;
}
@mixin angle {
  background-color: #E4E4E4;
  height: 40px;

  @media (min-height: $sm) {
    height: 64px;
  }
  @media (min-height: $sm) {
    height: 100px;
  }
}
.angle_top_first {
  @include angle;
  background-color: $white;
  width: $short-angle;
  clip-path: polygon(100% 0%, 0% 50%, 0% 0%);
}
.angle_top_second {
  @include angle;
  background-color: $white;
  width: $long-angle;
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 44.9% 57.3%);
}
.angle {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
}
.angle_bottom_first {
  @include angle;
  width: $long-angle;
  clip-path: polygon(0% 74.3%, 41% 54.3%, 100% 100%, 0% 100%);
}
.angle_bottom_second {
  @include angle;
  width: $short-angle;
  clip-path: polygon(100% 56.3%, 100% 100%, 0% 100%);
}