.top {
    height: 40px;
    background-color: #fff;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    position: relative;
    top: 1px;
}

.middle {
    background-color: #fff;
    height: fit-content;
    padding: 20px;
    @media(min-width: 320px) {
        width: 100%;
    }

    @media(min-width: 992px) {
        width: 440px;
    }

    @media(min-width: 1200px) {
        width: 584px;
    }
}

.bottom {
    height: 40px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    position: relative;
    top: -1px
}
