@import '../../styles//mixins.scss';

.wrapper {
  width: 100%;
  
}
.top_angle {
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  height: 40px;
  width: 100%;
  background-color: $white;
}
@mixin body {
  background-color: $white;
  padding: 30px;
  justify-content: space-evenly;
}
.center {
  @include body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left {
  @include body;
  display: flex;
  flex-direction: column;
}
.bottom_angle {
  clip-path: polygon(0% -1%, 0% 51%, 100% -1%);
  height: 40px;
  width: 100%;
  background-color: $white;
}
.big_wrapper {
  display: flex;
  flex-direction: row;
}
.right {
  position: relative;
  opacity: 0;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  height: 105px;
  width: 100px;
  background-color: $white;

  @media (min-width: $lg) {
    opacity: 1;
  }
}
