@import '../../styles/mixins.scss';
@import '../../styles/queries.scss';

.component {
  margin: 64px 0 32px 0;
}

.header {
  @include header;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.scroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $xl) {
    margin-left: 0px;
  }
}

.project {
  margin-left: 20px;
}

.image_wrapper {
  @include image;
  margin: 0 auto;
}

.project_header {
  @include subheader;

  margin-bottom: 10px;
}

.project_about {
  @include paragraph;
}

.card_button_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 40px 0 20px 0;
}

.card_button {
  width: 90%;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 56px 0;

  @media (min-width: $lg) {
    padding: 0 20px;
    justify-content: flex-start;
  }

  @media (min-width: $xl) {
    padding: 0 120px;
  }
}

.button {
  width: 90%;

  p {
    font-size: 28px;
    line-height: 27px;
    font-weight: 100;
  }

  @media (min-width: $lg) {
    width: 227px;
  }
}

.angle {
  @include footer-angle;
}

.elements {
  padding:0 30px;
}