@import '../../styles/mixins.scss';
@import '../../styles/queries.scss';

.image_wrapper {
  @include image;

  width: 152px;
  height: 152px;

  @media (min-width: $xl) {
    margin-right: 32px;
  }
}
.header {
  @include header;
  margin: 32px 0;

  @media (min-width: $sm) {
    margin: 32px 0 56px 0;
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: $xl) {
    flex-direction: row;
    
  }
}
.subheader_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;

  @media (min-width: $sm) {
    width: 500px;
  }
  @media (min-width: $xl) {
    align-items: flex-start;
  }
}
.about {
  @include paragraph;
  width: 290px;
  p {
    text-align: center;
  }
  @media (min-width: $sm) {
    width: 500px;
  }
  @media (min-width: $xl) {
    p {
      text-align: start;
    }
  }
}