.projectImage {
    display: flex;

    @media(min-width: 320px) {
        width: 152px;
        height: auto;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 768px) {
        margin-right: 24px;
        
    }

    @media(min-width: 992px) {
        width: 160px;
        height: auto;
    }

    @media(min-width: 1200px) {
        width: 168px;
        height: auto;
    }
}

.paragraph {

}

.projectInfo {
    margin-top: 64px;
    margin-bottom: 142px;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
        margin-bottom: 192px;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
    }

    @media(min-width: 992px) {
        margin-bottom: 200px;
        margin-right: auto;
        margin-left: auto;
    }

    @media(min-width: 1200px) {
        margin-top: 200px;
        margin-bottom: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}

.projectNameText {
    font-family: Futuris;
    font-size: 32px;
    text-align: center;

    @media(min-width: 768px) {
        text-align: left;
    }

    @media(min-width: 992px) {
        font-size: 47px;
    }
}

.projectName {
    width: max-content;
    display: block;
    margin: 0 auto;
    font-weight: bold;

    @media (min-width: 768px) {
        margin: 0;
    }

}

.lowerTriangle {
    height: 21px;
    width: 100%;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.link {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.projectDescription {
    font-family: Futuris;
    font-size: 18px;
    line-height: 24px;

    @media(min-width: 992px) {
        font-size: 24px;
    }
}

.button {
    margin: 0 auto;
    width: min-content;
    margin-top: 20px;
}

.phoneImg,
.pcImg {
    margin: 0 auto;
    display: block;
    max-height: 600px;
    object-fit: contain;
    height: 100%;
}

.triangleTransition {
    height: 32px;
    background-color: #fff;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    top: -1px;
    position: relative;
}

.cardHeader {
    font-size: 25px;
    font-family: "Futuris";
    font-weight: 700;

    @media(min-width: 992px) {
        font-size: 32px;
    }
}

.triangle {
    width: 100%;
    height: 10px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.containerName {
    width: fit-content;
    margin-bottom: 20px;
}

.markdown,
.markdown p,
.markdown li,
.markdown ol {
    font-family: "Futuris";
    line-height: 24px;
    font-size: 18px;
}

.markdown ul {
    padding-left: 20px;
}

.contentCards {
    @media(min-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.work {
    @media(min-width: 992px) {
        margin-right: 20px
    }


}

.techInfo {
    @media(min-width: 992px) {
        margin-right: 20px
    }
}

.vanta {
    background-color: #EAEAEA;
}