.triangle {

    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    ;
    background-color: #fff;

    z-index: 10;
    @media (min-width: 320px) {
        top: -1px;
        
    }

    @media(min-width: 992px) {
            top: 0;
    left: -1px;
    }

    @media(min-width: 320px) {
        height: 40px;
        width: 100%
    }

    @media(min-width: 992px) {
        height: 100%;
        width: 188px;
    }
}