@import '../../../styles/queries.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    @media(min-width: $xs) {
        width: 100%;
        margin-top: 56px;
    }

    @media(min-width: 992px) {
        width: 200px;
    }

    @media(min-width: 1200px) {
        width: 27;
    }
}

.icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.nameBlock {
    width: max-content;
    margin: 0 auto;
}


.headerArea {
    font-family: "Futuris", sans-serif;
    text-align: center;
    width: min-content;


    @media(min-width: $xs) {
        font-size: 25px;
        line-height: 31.65px;
    }

    @media(min-width: $lg) {
        font-size: 32px;
        line-height: 40.51px;
    }
}

.angle {
    width: 100%;
    height: 5px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    margin-bottom: 20px;
}

.tech {
    width: 100%;
    font-family: "Futuris", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

}